<div class="generator">
    <div class="header">
        <p><strong>@Generator.Name (@Generator.NumberBuilt)</strong></p>
        <p>+ @Generator.SingleProduction $ / s</p>
    </div>
    <p>Total production: @Generator.TotalProduction $ / s</p>
    <button class="btn buyButton" @onclick="BuyGenerator" disabled=@(!CanAfford())>Buy @DisplayHelpers.DisplayPrice(Generator.CurrentPrice)</button>
</div>

@code {
    [Inject] protected GameEngine Engine { get; set; }

    [Parameter]
    public PowerGenerator Generator { get; set; }

    private void BuyGenerator() => Engine.TryBuy(Generator);

    private bool CanAfford() => Engine.CanAfford(Generator);
}
